<div class="row">
  <% pet.get('followers').forEach(function(follower){ %>
    <div class="col-xs-4">
      <div class="col-xs-offset-1">

        <a href="#users/<%=follower.id%>"><%=follower.get('username')%></a>

        <a href="#users/<%=follower.id%>">
          <img src="<%=follower.get('photo_url')%>" alt="<%=follower.get('username')%>"
          height="100" width="100">
        </a>
      </div>
    </div>
  <% }); %>

  <a href="/#pets/<%=pet.id%>">Back</a>
</div>

