<div class="testimonial_title">
    <h1 id="name"><%=pet.escape('name')%></h2>
</div>

<div class="profile_header span8">

  <div class="profile_follower">
    <a href="/#pets/<%=pet.id%>/followers">Followers: <%=pet.get('followers').length%></a>
  </div>
  <div class="profile_owner">
    <a href="/#pets/<%=pet.id%>/owners">Foster Owners: <%=pet.get('owners').length%></a>
  </div>
  <div class="profile_gallery">
    <a href="/#pets/<%=pet.id%>/gallery">Photos: <%=total_photos%></a>
  </div>
  <div class="profile_photo">
    <img class="pet_home_photo"
      src="<%=pet.escape('photo_url')%>", alt="<%=pet.escape('name')%>"
      >
  </div>
  <div class="profile_about">
    <h4 id="content_title">About This Pet :<h4>
    <p id="content">"<%=pet.escape('about')%>"</p>

  </div>
</div>
