<div class="pet_home span8">
  <% pets.forEach(function(pet){ %>
    <div class="pet_home_pet_box">
      <div class="pet_home_data">
        <a href="/#pets/<%=pet.id%>"><%=pet.get('name')%></a>
        <br  />
      </div>
      <div class="pet_home_photo_div">
        <a href="#pets/<%=pet.id%>">
          <img class="pet_photo" src="<%=pet.get('photo_url')%>"
            alt="<%=pet.get('name')%>" height="100" width="100">
        </a>
      </div>

      <div class="pet_home_follow_button">
         <% if (pet.get('following')) { %>
           <span class="following can_follow">
         <% } else { %>
           <span class="following can_unfollow">
         <% } %>
        <button class="btn btn-follow" pet_id="<%=pet.get('id')%>">Follow</button>
        <button class="btn btn-unfollow" <% if (pet.get('following')) { %>
            id="<%=pet.get('following').get('id')%>"
            <% } %>
            pet_id="<%=pet.get('id')%>">Unfollow</button>
          </span>
      </div>

    </div>
  <% }); %>
</div>

