<div class="row">
  <% pets.forEach(function(pet){ %>
    <div class="col-xs-4">
      <div class="col-xs-offset-1">

        <%=pet.get('name')%>

        <a href="#pets/<%=pet.id%>">
          <img src="<%=pet.get('photo_url')%>" alt="<%=pet.get('name')%>">
        </a>

         <% if (pet.get('following')) { %>
           <span class="following can_follow">
         <% } else { %>
           <span class="following can_unfollow">
         <% } %>
        <button class="follow" pet_id="<%=pet.get('id')%>">Follow Pet</button>
        <button class="unfollow" <% if (pet.get('following')) { %>
            id="<%=pet.get('following').get('id')%>"
            <% } %>
            pet_id="<%=pet.get('id')%>">unFollow Pet</button>
          </span>

      </div>
    </div>
  <% }); %>
</div>

