<div class="gallery span8">
  <% pet.get('owners').forEach(function(owner){ %>
    <div class="photo_container">
      <div class="photo_tag">
        <a href="#users/<%=owner.id%>"><%=owner.escape('username')%></a>
      </div>
      <div class="gallery_photo_div">
        <a href="#users/<%=owner.id%>">
          <img class="gallery_photo"
            src="<%=owner.escape('photo_url')%>" alt="<%=owner.escape('username')%>"
            height="100" width="100">
        </a>
      </div>
      
    </div>
  <% }); %>
</div>
<div class="back_button">
  <button class="btn back">Back</button>
</div>