
<div class="testimonial_title">
    <h1>Pet Wall</h1>
</div>


<div class="pet_wall" id="pet_post"></div>

<div class="pet_wall" id="pet_wall">
  <div class="feed_title">
    <h1>Wall</h1>
  </div>

    <% wallPosts.forEach(function(post) { %>
      <div class="post_container">

        <div class="post_author">
          <a href="/#users/<%=post.get('author').first().escape('id')%>">
            <img class="post_author_photo"
                src="<%=post.get('author').first().escape('photo_url')%>"
                alt="user picture" height=30px width=30px>
          </a>

          <a href="/#users/<%=post.get('author').first().escape('id')%>">
            <%=post.get('author').first().escape('username')%>
          </a>
        </div>

        <div class="post_time">
          <%=moment(post.escape('created_at')).format("dddd, MMMM Do YYYY, h:mm:ss a")%>
        </div>

        <div class="post_data">
          <% if(post.get('body')) { %>
            <div class="post_body">
              <%=post.escape('body')%>
            </div>
          <% } %>

          <% if(post.get('photos')) { %>
            <% post.get('photos').each(function(photo) { %>
              <div class="post_photo_div">
                <img class="post_photo"
                    src="<%=photo.escape('photo_url')%>"
                    alt="<%=photo.escape('description')%>" height=50px width=80px>
              </div>
            <% });%>
          <% } %>
        </div>


    </div>
  <% }); %>
</div>

<div class="modal fade" id="pictureModal" tabindex="-1" role="dialog"
      aria-labelledby="thisModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-photo-title" id="thisModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="span8">
          <img class="modal_photo img-responsive inline-block" src="" alt="">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>