<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-1">

      <p><%=pet.get('name')%></p>

      <p><%=pet.get('likes')%></p>

      <p><%=pet.get('dislikes')%></p>

      <p><%=pet.get('age')%></p>



      <p><%=pet.get('gender')%></p>

      <p><%=pet.get('size')%></p>

      <p><%=pet.get('about')%></p>


      <button class="delete" pet_id="<%=pet.get('id')%>">Delete</button>
    </div>
  </div>
</div>