<div class="row">
  <div class="col-xs-4">
    <div class="col-xs-offset-1">

      <p><%=pet.escape('name')%></p>

      <p><%=pet.escape('likes')%></p>

      <p><%=pet.escape('dislikes')%></p>

      <p><%=pet.escape('age')%></p>



      <p><%=pet.escape('gender')%></p>

      <p><%=pet.escape('size')%></p>

      <p><%=pet.escape('about')%></p>


      <button class="delete" pet_id="<%=pet.escape('id')%>">Delete</button>
    </div>
  </div>
</div>