<div class="testimonial_title">
  <h1>User Wall</h1>
</div>

    <div class="user_wall" id="user_wall">
      <!--<div class="feed_title">
        <h1>User Wall</h1>
      </div>-->

      <% wallPosts.forEach(function(post) { %>
        <div class="post_container">

          <div class="post_author">
          <% if( post.get('user_id') == user.id ) { %>
            <img class="post_author_photo"
                 src="<%=user.get('photo_url')%>" alt="user picture"
                 height=30px width=30px>
             <span><%=user.get('username')%> Wrote on the Wall of : </span>
           </div>
          <% } else { %>
              <a href="/#users/<%=post.get('author').first().get('id')%>">
                <img class="post_author_photo"
                  src="<%=post.get('author').first().get('photo_url')%>"
                  alt="author picture" height=30px width=30px>
              </a>
              <a href="/#users/<%=post.get('author').first().get('id')%>">
                <%=post.get('author').first().get('username')%>
              </a> <span> Wrote on the Wall of : </span>
            </div>
            <div class="post_receiver">
              <img class="post_receiver_photo"
                  src="<%=user.get('photo_url')%>" alt="user picture"
                  height=30px width=30px>
              <%=user.get('username')%>
            </div>
          <% } %>

          <% if (post.get('user')) { %>
              <% post.get('user').forEach(function(user) { %>
                <div class="post_receiver">
                <a href="/#users/<%=user.id%>"><%=user.get('username')%></a>

                <a href="/#users/<%=user.id%>">
                <img class="post_receiver_photo"
                      src="<%=user.get('photo_url')%>" alt="user picture"
                      height=30px width=30px>
                </a>
                </div>
              <% }) %>
          <% } %>

          <% if (post.get('pet')) { %>
            <% post.get('pet').forEach(function(pet){ %>
              <div class="post_receiver">
                <a href="/#pets/<%=pet.id%>"><%=pet.get('name')%></a>

                <a href="/#pets/<%=pet.id%>">
                <img class="post_receiver_photo"
                      src="<%=pet.get('photo_url')%>" alt="pet picture"
                      height=30px width=30px>
                </a>
              </div>
            <% }) %>
           <% } %>

          <div class="post_time">
            <%=moment(post.get('created_at')).format("dddd, MMMM Do YYYY, h:mm:ss a")%>
          </div>


          <div class="post_data">
            <% if(post.get('body')) { %>
              <div class="post_body">
                <%=user.get('username')%> said: "<%=post.get('body')%>"
              </div>
            <% } %>

            <% if(post.get('photos')) { %>
              <% post.get('photos').each(function(photo) { %>
                <div class="post_photo_div">
                  <img class="post_photo"
                      src="<%=photo.get('photo_url')%>"
                      alt="<%=photo.get('description')%>" height=50px width=80px>
                </div>
              <% });%>
            <% } %>

            <% if(post.get('photo_url')) { %>
              <div class="post_photo_div">
                <img class="post_photo"
                    src="<%=post.get('photo_url')%>" alt="post picture"
                    height=300px width=480px>
              </div>
            <% } %>
          </div>

        </div>
      <% }); %>
 </div>


 <div class="modal fade" id="pictureModal" tabindex="-1" role="dialog"
       aria-labelledby="thisModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-photo-title" id="thisModalLabel"></h4>
       </div>
       <div class="modal-body">
         <div class="span8">
           <img class="modal_photo img-responsive inline-block" src="" alt="">
         </div>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>