
<div class="row-fluid">
  <div class="create_form">

      <form action="<%= action %>" method="post" role="form">
          <input
             name="_method"
             type="hidden"
             value="post">
          <input
             name="authenticity_token"
             type="hidden"
             value="<%= form_authenticity_token %>">

        <% if user.persisted? %>
          <h4><%=@user[:username]%> </h4>
          <input type="hidden" name="user[username]" value="<%=user[:username]%>">
          <input type="hidden" name="user[password]" value="password">
        <% else %>

        <div class="form-group">
          <label for="user_username">Username</label>
          <input
             class="form-control"
             id="user_username"
             name="user[username]"
             type="text"
             placeholder="Username">
         </div>
          <br>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input
             class="form-control"
             id="user_password"
             name="user[password]"
             type="password"
             placeholder="Password">
         </div>
          <br>
        <% end %>
          <input type="submit" value="<%= message %>" class="btn btn-parimary">
      </form>

  </div>
</div>