<h1>FEED</h1>

<div class="feed_container">
  <% feeds.each(function(feed) { %>
    <div class="ind_feed">

      <div class="feed_post_pet">
        <a href="#pets/<%=feed.get('pet').first().get('id')%>">
          <img src="<%=feed.get('pet').first().get('photo_url')%>"
                alt="pet picture" height=30px width=30px>
        </a>
        <a href="#pets/<%=feed.get('pet').first().get('id')%>">
          <%=feed.get('pet').first().get('name')%>
        </a>
           received a post from >
      </div>

      <div class="feed_post_user">
        <a href="#users/<%=feed.get('user').first().get('id')%>">
          <img src="<%=feed.get('user').first().get('photo_url')%>"
              alt="user picture" height=30px width=30px>
        </a>
        <a href="#users/<%=feed.get('user').first().get('id')%>">
          <%=feed.get('user').first().get('username')%>
        </a>
      </div>

      <div class="feed_time">
        <%=moment(feed.get('created_at')).format("dddd, MMMM Do YYYY, h:mm:ss a")%>
      </div>

      <div class="feed_post_data">
        <% if(feed.get('body')) { %>
          <div class="feed_post_body">
            <%=feed.get('user').first().get('username')%> says: "<%=feed.get('body')%>"
          </div>
        <% } %>
        <% if(feed.get('photo_url')) { %>
          <div class="feed_post_photo">
            <img src="<%=feed.get('photo_url')%>" alt="feed picture" height=300px width=480px>
          </div>
        <% } %>
      </div>

    </div>
  <% }); %>
</div>