<!DOCTYPE html>
<html>
<head>
  <title>NewAuthDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "static_pages/nav" %>

<div class="container">
  <%= yield %>
</div>


</body>
<script>
$(function(){
  $('body').scrollspy({target: '.navbar-ourpage'})
  $('#logout').on('click', function(){
  });
  $('#signUp').on('click', function(event) {
    event.preventDefault();
    $('#signUpModal').modal();
  });
});

</script>
</html>
